body{
    background: url("../img/cielo.jpg");
    background-attachment: fixed;
  }

  #log {
    background: blue;
  }
  nav ul li :hover {
   background:blue;
  }

 .post .btn-leer
{
  background:blue;
}

footer{
    background:blue;
  }